<h1>Produtos</h1>
<div class="container row">
    <input class="form-control" ng-model="q" placeholder="Pesquisar"/>
    <a href="/cadastrar" class="btn btn-primary">Novo</a>
</div>
<br>
<table class="table table-striped table-hover table-sm">
    <thread>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Ações</th>            
        </tr>
    </thread>
    <tr ng-repeat="obj in produto | filter:q | startFrom: currentPage*pageSize|limitTo:pageSize">
        <td scope="row" class="text-center">{{obj.id}}</td>
        <td class="text-center">{{obj.title}}</td>
        <td class="text-center">{{obj.description}}</td>
        <td class="text-center">
            <a href="/produto/{{obj.id}}" type="button" class="btn btn-primary" >
                Editar
            </a>

            <button type="button" class="btn btn-danger" ng-click="remover(obj.id)">
                Deletar
            </button>
        </td>                        
    </tr>
</table>
<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
<button class="btn btn-default" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
</button>